<!-- forgot-password.component.html 
<form (ngSubmit)="onSubmit()">
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="email" required>
    <button type="submit">Submit</button>
  </form>
  <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>-->
  <app-header></app-header>
<br>
<br>
  <!--
  <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
    <div class="form-group justify-content-center ">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
    </div>
    <button type="submit" class="button">Submit</button>
    <button type="submit" class="button" style="background-color: #ff4f5a; color:#060000fd">Submit</button>

  </form>-->
  <br>
  <br>
  <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm" class="center-form">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
    </div>
    <button type="submit" class="button" style="background-color: #ff4f5a;" >Submit</button>
  </form>
  

  